@font-face {
    font-family: osb;
    src: url(../fonts/OpenSans-Bold.ttf);
}
@font-face {
    font-family: osr;
    src: url(../fonts/OpenSans-Regular.ttf);
}
@font-face {
    font-family: ossb;
    src: url(../fonts/OpenSans-Semibold.ttf);
}
@font-face {
    font-family: osl;
    src: url(../fonts/OpenSans-Light.ttf);
}

*
{
  margin:0px;
  padding:0px;
}

body {
background-color:black;
color:white;
font-family:osr;
overflow:hidden;
}

a
{
  color:white;
}

a:hover
{
  color:grey;
}

#mainTitle
{
  text-align:center;
  font-size:2vw !important;
  padding-bottom:10px;
  border-bottom: 2px solid #BD2124;
}

#paragraphAreYou
{
  text-align:center;
  color:white;
  font-size:24px;
}

#paragraphSpeaker
{
  text-align:center;
  font-size:24px;
}

#paragraphAssistant
{
  text-align:center;
  font-size:24px;
}

#poweredByPUSHImage
{
  float:right;
}

@media screen and (max-width: 480px) {

  #mainTitle
  {
    font-size:6vw !important;
  }

  #paragraphAreYou
  {
    font-size:4vw !important;
  }

  #paragraphSpeaker
  {
    font-size:4vw !important;
  }

  #paragraphAssistant
  {
    font-size:4vw !important;
  }

  #poweredByPUSHImage
  {
    float:none;
    margin-left:35%;
  }
}

@media screen and (max-width: 640px) and (orientation : landscape) {

  #mainTitle
  {
    font-size:4vw !important;
  }

  #paragraphAreYou
  {
    padding-top:50px;
    font-size:2vw !important;
  }

  #paragraphSpeaker
  {
    font-size:2vw !important;
  }

  #paragraphAssistant
  {
    font-size:2vw !important;
  }

  #poweredByPUSHImage
  {
    float:none;
    margin-left:40%;
  }

}
